<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Center the image */
        .center-image {
            text-align: center;
            display: flex;
            justify-content: center; /* Center horizontally */
        }

        .square-image {
            max-width: 100%;
            max-height: 200px; /* Adjust the height as needed to create a square */
        }
    </style>
</head>
<body>
    <h1>Upload an Image for Face Recognition</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <br>
        <input type="submit" value="Recognize Face">
    </form>

    <!-- Display uploaded image -->
    <div class="center-image">
        <img id="uploaded-image" class="square-image">
    </div>

    <script>
        // Function to display the uploaded image
        function displayImage(input) {
            var uploadedImage = document.getElementById('uploaded-image');
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        // Attach an event listener to the file input to trigger the displayImage function
        var fileInput = document.querySelector('input[type="file"]');
        fileInput.addEventListener('change', function() {
            displayImage(this);
        });
    </script>
</body>
</html>
